<a href="https://colab.research.google.com/github/annefrancine/Introduction-python/blob/master/Les_op%C3%A9rateurs_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Les opérateurs 

Les opérateurs sont des symboles spéciaux en Python qui effectuent des calculs arithmétiques ou logiques. La valeur sur laquelle l'opérateur opère s'appelle l'opérande. En Python, les opérateurs peuvent être classés dans les catégories suivantes:


- Opérateurs arithmétiques (+, -, *, /,%, //)
- Opérateurs relationnels (==,!=,>, < ,>= et <=) 
- Opérateurs logiques (and, or et not)
- Opérateurs binaires (&, |, ^, ~, >> et <<)
- Opérateurs d'affectation (=, +=, -=, *=, etc)
- Opérateurs spéciaux (is, is not, in, not in)

# Opérateurs arithmétiques

Ils sont utilisés pour effectuer des opérations arithmétiques/mathématiques sur les opérandes. Les opérateurs binaires appartenant à cette catégorie sont:

- Addition : L'opérateur ‘+’ ajoute deux opérandes. Par exemple, x+y.
- Soustraction: l'opérateur ‘ - ' soustrait deux opérandes. Par exemple, x-y.
- Multiplication: l'opérateur ’ * ' multiplie deux opérandes. Par exemple, x*y.
- Division: l'opérateur '/' divise le premier opérande par le second. Par exemple, x/y.
- Module: l'opérateur ' % ' renvoie le reste lorsque le premier opérande est divisé par le second. Par exemple, x%y).
- Division entière (//): Lorsque nous divisons des entiers avec //, le quotient est également un entier.
- Exposant (**) : l'opérande gauche élevé à la puissance de droite. Par exemple, x**2

In [1]:
a = 10
b = 4
res = a + b; # addition
print("a+b : ", res)

a+b :  14

In [2]:
res = a - b; # soustraction
print("a-b :", res)

a-b : 6

In [3]:
res = a * b; # multiplication
print("a*b :", res)

a*b : 40

In [4]:
res = a / b; # division
print("a/b : ", res)

a/b :  2.5

In [5]:
res = a % b; # Module
print("a mod b :", res)

a mod b : 2

In [6]:
res = a // b; # division entière
print("a // b :", res)

a // b : 2

![image.png]()

# Opérateurs relationnels

Les opérateurs relationnels sont utilisés pour comparer deux valeurs.

- l'opérateur ‘==’ vérifie si les deux opérandes sont égales ou non. Si oui, il renvoie la valeur true. Sinon, il retourne false. Par exemple, 5==5 retournera true.

- ‘!=’ opérateur vérifie si les deux opérandes sont égaux ou non. elle renvoie la valeur true si les deux opérandes ne sont pas égaux, Sinon, il retourne false. C'est le complément booléen exact de l'opérateur‘==’. Par exemple, 5!=5 retournera false.

- L’opérateur ‘>’ vérifie si le premier opérande est supérieur au deuxième opérande. Si c'est le cas, cela retourne true. Sinon, il retourne false. Par exemple, 6> 5 retournera true.

- L’opérateur ‘<‘ vérifie si le premier opérande est inférieur au deuxième opérande. Si c'est le cas, cela retourne true. Sinon, il retourne false. Par exemple, 6 < 5 renverra false. <

- L’opérateur ‘> =’ vérifie si le premier opérande est supérieur ou égal au deuxième opérande. Si c'est le cas, cela retourne true. Sinon, il retourne false. Par exemple, 5> = 5 retournera true.

- L’opérateur ‘<=’ vérifie si le premier opérande est inférieur ou égal au deuxième opérande. Si c'est le cas, cela retourne true. Sinon, il retourne false. Par exemple, 5 <=5 retournera également true.

In [18]:
3 == 4

False

In [19]:
a = 5
a == 5

True

In [23]:
# Il est également possible de chainer les comparateurs:
a, b, c = 1, 10, 100
a < b < c

True

In [24]:
a > b < c

False

# Opérateurs logiques
 
Il est possible d'affiner une condition avec les mots clé AND qui signifie " ET " et OR qui signifie " OU ".

On veut par exemple savoir si une valeur est plus grande que 5 mais aussi plus petite que 10:

In [20]:
v = 15
v > 5 and v < 10

False

In [21]:
# Essayons avec la valeur 7 
v > 5 and v < 10

False

In [22]:
#Pour que le résultat soit TRUE , il faut que les deux conditions soient remplies .
# Testons maintenant la condition OR
v = 11
v > 5 or v > 100

True

# Conditions

Cette notion est l'une des plus importante en programmation. L'idée est de dire que si telle variable a telle valeur alors faire cela sinon cela

- if condition: (exécuté si condition est vraie)

- elif condition2: (exécuté si condition est fausse et condition2 est vraie)

- else: (exécuté si condition et condition2 sont fausses)

# Indentation
Python s'appuie sur l'indentation, en utilisant des espaces blancs, pour définir la portée dans le code. D'autres langages de programmation utilisent souvent des crochets bouclés à cet effet.

In [25]:
if 5 > 2:
    print("ça marche!")

ça marche!

In [26]:
if 5 < 2:
   print("ça marche")
else:
   print("c'est un probleme!")

c'est un probleme!

In [27]:
if 5 == 5:
  print("ok")

ok

In [28]:
if True:
    print('ça marche')

ça marche

In [29]:
#Attention !
# Atenção com a sintaxe
if 4 > 3
  print("ça marche")

SyntaxError: ignored

In [30]:
if 4 > 3:
print("ça marche")

IndentationError: ignored

# Conditionnelles imbriquées

In [31]:
a = 115
b = 115
if b > a:
  print("b est plus grand que a")
elif a == b:
  print("a et b sont égaux")

a et b sont égaux

In [32]:
a = 100
b = 33
if b > a:
  print("b est plus grand que a")
elif a == b:
  print("a et b sont égaux")
else:
  print("a est plus grand que b")

a est plus grand que b

In [35]:
age = 18
prenom = "Bob"
if age > 13:
 if prenom == "Bob":
   print("Ok Bob, vous pouvez entrer !")
 else:
   print("Sorry , vous ne pouvez pas entrer!")

Ok Bob, vous pouvez entrer !

In [36]:
age = 12
prenom = "Bob"
if (age >= 13) or (prenom == "Bob"):
    print("Ok Bob, vous pouvez entrer!")

Ok Bob, vous pouvez entrer!

Vous pouvez aussi utiliser Else sans Elif

In [37]:
a = 112
b = 37
if b > a:
  print("b est plus grand que a")
else:
  print("b est inférieur à a")

b est inférieur à a

If : syntaxe rapide

Si vous n'avez qu'une seule instruction à exécuter, vous pouvez la placer sur la même ligne que l'instruction if.

In [38]:
if a > b: print("a est plus grand que b")

a est plus grand que b

If Else : syntaxe rapide

Si vous n'avez qu'une seule instruction à exécuter, une pour If, et une autre pour else, vous pouvez tout mettre sur la même ligne :

In [39]:
print("A") if a > b else print("B")

A

# Les boucles (for et while)

La boucle while : 

Les boucles permettent de répéter une suite d'instructions. Il existe deux structures pour les boucles.
La première, while (tant que [...] alors [...] ), qui suit la syntaxe suivante.



```
while condition:

    instruction1
```

In [40]:
# afficher valeurs entre 0 et 9

counter = 0
while counter < 10:
    print(counter)
    counter = counter + 1

0
1
2
3
4
5
6
7
8
9

In [41]:
x = 0

while x < 10:
    print ('Le valeur de  est: ', x)
    print (' x inferieur à 10 , ajouter 1 à 10')
    x += 1
    
else:
    print ('arreter!')

Le valeur de  est:  0
 x inferieur à 10 , ajouter 1 à 10
Le valeur de  est:  1
 x inferieur à 10 , ajouter 1 à 10
Le valeur de  est:  2
 x inferieur à 10 , ajouter 1 à 10
Le valeur de  est:  3
 x inferieur à 10 , ajouter 1 à 10
Le valeur de  est:  4
 x inferieur à 10 , ajouter 1 à 10
Le valeur de  est:  5
 x inferieur à 10 , ajouter 1 à 10
Le valeur de  est:  6
 x inferieur à 10 , ajouter 1 à 10
Le valeur de  est:  7
 x inferieur à 10 , ajouter 1 à 10
Le valeur de  est:  8
 x inferieur à 10 , ajouter 1 à 10
Le valeur de  est:  9
 x inferieur à 10 , ajouter 1 à 10
arreter!

In [42]:
# Pass, Break, Continue

counter = 0
while counter < 100:
    if counter == 4:
        break
    else:
        pass
    print(counter)
    counter = counter + 1

0
1
2
3

In [43]:
for verifier in "Python":
    if verifier == "h":
        continue
    print(verifier)

P
y
t
o
n

In [44]:
# While e For juntos
for i in range(2,30):
    j = 2
    counter = 0
    while j < i:
        if i % j == 0:
            counter = 1
            j = j + 1
        else:
            j = j + 1
    
    if counter == 0:
        print(str(i) + " c'est un nombre premier")
        counter = 0
    else:
        counter = 0

2 c'est un nombre premier
3 c'est un nombre premier
5 c'est un nombre premier
7 c'est un nombre premier
11 c'est un nombre premier
13 c'est un nombre premier
17 c'est un nombre premier
19 c'est un nombre premier
23 c'est un nombre premier
29 c'est un nombre premier

# La boucle for : 

La boucle for permet aussi de répéter un bloc d'instructions. Elle est généralement utilisée lorsque l'on souhaite itérer sur une séquence prédéfinie de valeurs.

In [45]:
# créer un tuple et afficher les valeurs
tp = (2,3,4)
for i in tp:
    print(i)

2
3
4

In [46]:
supermarche = ["Lait", "Fromage", "Viande"]
for i in supermarche:
    print(i)

Lait
Fromage
Viande

In [47]:
for compteur in range(0,5):
    print(compteur)

0
1
2
3
4

In [48]:
# afficher les valeurs pairs
var = [1,2,3,4,5,6,7,8,9,10]
for num in var:
    if num % 2 == 0:
        print (num)

2
4
6
8
10

In [49]:
for i in range(0,101,2):  
    print(i)

0
2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98
100

In [52]:
for i in range(5):
 print(i)

0
1
2
3
4

In [53]:
for caracter in 'Python est bien':
    print (caracter)

P
y
t
h
o
n

e
s
t

b
i
e
n

In [54]:
# loops imbriqués
for i in range(0,5):
    for a in range(0,5):
        print(a)

0
1
2
3
4
0
1
2
3
4
0
1
2
3
4
0
1
2
3
4
0
1
2
3
4

In [55]:
dict = {'k1':'Python','k2':'R','k3':'Scala'}
for element in dict:
    print(element)

k1
k2
k3

In [56]:
listeC = [5, 6, 7, 10, 50]

for element in listeC:
    if element == 5:
        print("J'ai trouvé")

J'ai trouvé

# Range 

Si vous devez itérer sur une suite de nombres, la fonction native range() est faite pour cela. Elle génère des suites arithmétiques

In [59]:
for i in range(3, 6):
    print (i)

3
4
5

In [60]:
for i in range(0, -20, -2):
    print(i)

0
-2
-4
-6
-8
-10
-12
-14
-16
-18

In [61]:
supermarche = ['Fraise', 'Pain,', 'Eau', 'yaourt']
supermarche_taille = len(supermarche)
for i in range(0, supermarche_taille):
    print(supermarche[i])

Fraise
Pain,
Eau
yaourt

In [62]:
type(range(0,3))

range