<a href="https://colab.research.google.com/github/annefrancine/Introduction-python/blob/master/Numpy.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

NumPy  est une bibliothèque numérique apportant un support efficace pour la création et la manipulation de larges tableaux multidimensionnels, et de routines mathématiques de haut niveau (algèbre linéaire, statistiques, fonctions mathématiques complexes etc.…). 

https://numpy.org/doc/

In [1]:
# La première étape pour l'utiliser est d'importer le module Numpy. Très souvent, 
# on l'importe en lui donnant l'abréviation np avec l"instruction suivante :

import numpy as np

De nombreuses fonctions mathématiques sont accessibles grâce à Numpy, comme les fonctions trigonométriques (np.sin(), np.arctan()...), les fonctions de mathématiques basiques, la fonction racine carrée (np.sqrt()), les fonctions exponentielles et logarithmes (np.exp(), np.log()...). Toutes les fonctions sont listées ici (https://docs.scipy.org/doc/numpy-1.13.0/reference/routines.math.html)

In [2]:
# NumPy définit par défaut la valeur de pi
np.pi

3.141592653589793

## 1)	Création d’un Numpy array

1.1) Array

L'efficacité du module Numpy réside essentiellement dans l'utilisation d'un type optimisé : le type ndarray. Les objets de type ndarray se manipulent comme des listes, à la différence qu'ils ne contiennent que des éléments de même type.

Il convient de noter que toutes les opérations effectuées à partir de arrays peuvent être faites sur des objets de type list ordinaire, mais cette alternative serait plus longue à écrire, plus lente, et prendrait beaucoup de mémoire supplémentaire.
On peut construire un ndarray à partir de n’importe quel autre type d'objets itérable, comme une liste ou un tuple, grâce à la fonction np.array() .

La méthode array transforme les listes de listes en tableaux bidimensionnels, les listes de listes de listes en tableaux tridimensionnels, etc. Le type du tableau obtenu est déduit du type des éléments de la liste/du tuple.

In [19]:
a = np.array([4,7,9])# tableau 1D
a

array([4, 7, 9])

In [20]:
b = np.array([[1, 2, 3], [4, 5, 6]])# tableau 2D
b

array([[1, 2, 3],
       [4, 5, 6]])

In [4]:
type(a)

numpy.ndarray

In [5]:
# Comme pour les listes, les indices des éléments commencent à zéro.
a[0,1]# ligne zero, cologne 1

2

La fonction numpy.size() renvoie le nombre d’éléments du tableau.

In [22]:
np.size(a), np.size(b)

(3, 6)

La fonction numpy.shape() (forme, en anglais) renvoie la taille du tableau.

In [26]:
c = np.array([[1, 2, 3],[4, 5, 6]])
c

array([[1, 2, 3],
       [4, 5, 6]])

In [27]:
np.shape(c)

(2, 3)

Il est possible de changer la taille d’un tableau en utilisant l’attribut shape de ce tableau.

In [47]:
u = np.arange(1, 16)
u

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15])

In [49]:
u.shape = (3, 5)
u

array([[ 1,  2,  3,  4,  5],
       [ 6,  7,  8,  9, 10],
       [11, 12, 13, 14, 15]])

In [50]:
np.shape(u)

(3, 5)

Il est possible de réaliser un produit terme à terme grâce à l’opérateur *. Il faut dans ce cas que les deux tableaux aient la même taille.

In [29]:
e = np.array([[1, 2, 3], [4, 5, 6]])
f = np.array([[2, 1, 3],[3, 2, 1]])

e*f

array([[ 2,  2,  9],
       [12, 10,  6]])

Un tableau peut jouer le rôle d’une matrice si on lui applique une opération de calcul matriciel. Par exemple, la fonction numpy.dot() permet de réaliser le produit matriciel.

In [31]:
g = np.array([[4],
                  [2],
                  [1]])

In [32]:
np.dot(e,g)
# Le produit d’une matrice de taille n x m par une matrice m x p donne une matrice n x p.

array([[11],
       [32]])

In [33]:
#matrice transposé
e.T

array([[1, 4],
       [2, 5],
       [3, 6]])

1.2) Fonction arange()

La fonction arange() de Numpy permet de générer une séquence de nombres séparés par un interval fixe, le tout stocké dans un tableau. La syntaxe est la suivante :

```
np.arange( start, stop, step, dtype )
```

In [8]:
m = np.arange(3, 15, 2)
m

array([ 3,  5,  7,  9, 11, 13])

Noter la différence entre numpy.arange() et range() :

* numpy.arange() retourne un objet de type numpy.ndarray.

* range() retourne un objet de type range.

In [9]:
# numpy.arange() accepte des arguments qui ne sont pas entiers
np.arange(0, 11*np.pi, np.pi)

array([ 0.        ,  3.14159265,  6.28318531,  9.42477796, 12.56637061,
       15.70796327, 18.84955592, 21.99114858, 25.13274123, 28.27433388,
       31.41592654])

1.3) Linspace

Lorsque la fonction arange() est utilisée avec des arguments réels (floats), il est généralement difficile de prédire le nombre d'éléments obtenus. Souvent, dans ce cas, il est préferable d'utiliser la fonction linspace(), qui reçoit en argument le nombre n d'éléments souhaité plutôt que le pas, et retourne un array de n nombre de valeurs uniformément réparties entre deux bornes (incluses).

In [10]:
np.linspace( 0,2,9) # 9 valeurs entre 0 et 2

array([0.  , 0.25, 0.5 , 0.75, 1.  , 1.25, 1.5 , 1.75, 2.  ])

In [11]:
np.linspace(3, 9, 10)

array([3.        , 3.66666667, 4.33333333, 5.        , 5.66666667,
       6.33333333, 7.        , 7.66666667, 8.33333333, 9.        ])

NumPy dispose d’un grand nombre de fonctions mathématiques qui peuvent être appliquées directement à un tableau. Dans ce cas, la fonction est appliquée à chacun des éléments du tableau.

In [12]:
x = np.linspace(-np.pi/2, np.pi/2, 3)
x

array([-1.57079633,  0.        ,  1.57079633])

In [13]:
y = np.sin(x)
y

array([-1.,  0.,  1.])

De nombreuses autres fonctions existent dans Numpy pour générer des arrays: Pour n'en citer que quelques-unes:

In [14]:
# np.ones((n,p)) crée un array de dimension n×pn×p rempli de 1
np.ones(5)

array([1., 1., 1., 1., 1.])

In [16]:
# np.zeros((n,p,l)) crée un array de dimension n×p×ln×p×l rempli de 0.
np.zeros(5)

array([0., 0., 0., 0., 0.])

In [18]:
# np.random.random((n,p)) crée un array avec des valeurs aléatoires.
np.random.random_sample((3, 5))

array([[0.4087476 , 0.07965095, 0.67170481, 0.10068686, 0.20331654],
       [0.14582301, 0.9309324 , 0.26248557, 0.96097905, 0.92388795],
       [0.92888908, 0.93666396, 0.86850479, 0.92870436, 0.59759376]])

In [34]:
# np.eye(n) crée un array de la forme d'une matrice identité de dimension n×nn×n, c'est à dire un tableau où toutes 
# les valeurs sont nulles sauf sur la diagonale, où elles valent 1.

np.eye(3)

array([[1., 0., 0.],
       [0., 1., 0.],
       [0., 0., 1.]])

In [ ]:
# np.diag(a, i) crée un array à partir d'une séquence a (liste, tuple, array unidimensionnel...) en place a sur la i-ème diagonale de la matrice 
# (0 étant la diagonale principale, -1 celle en dessous, 1 celle au-dessus etc..)

In [35]:
x = np.arange(9).reshape((3,3))
x

array([[0, 1, 2],
       [3, 4, 5],
       [6, 7, 8]])

In [36]:
np.diag(x)

array([0, 4, 8])

## 2) Tableaux et slicing

Lors de la manipulation des tableaux, on a souvent besoin de récupérer une partie d’un tableau. Pour cela, Python permet d’extraire des tranches d’un tableau grâce une technique appelée slicing (tranchage, en français). Elle consiste à indiquer entre crochets des indices pour définir le début et la fin de la tranche et à les séparer par deux-points :

In [37]:
a = np.array([12, 25, 34, 56, 87])
a[1:3]

array([25, 34])

Dans la tranche [n:m], l’élément d’indice n est inclus, mais pas celui d’indice m. Un moyen pour mémoriser ce mécanisme consiste à considérer que les limites de la tranche sont définies par les numéros des positions situées entre les éléments, comme dans le schéma ci-dessous :

![array_slicing.png]()

In [38]:
a= np.array([[1 ,2,3],[4,5,6]])
np.shape(a)# permet d’avoir la dimension de l’array, ici (2,3)

(2, 3)

* a[0,1] : donne l'élément sur la ligne 0 et la colonne 1, donc ici 2.
* a[0][1] : marche aussi, mais est moins efficace car crée d'abord la sous array a[0] !
*	a[-1,-1] : dernier élément, donc ici 6.
*	a[0] : première ligne, donc ici array([1, 2, 3]).
*	a[:,0] : première colonne, donc ici array([1, 4]).   
*	pour changer toutes les valeurs d'une array (qui peut être 2d) : a[:] = 2
* compter le nombre d'éléments d'une array satisfaisant une condition : (a > 2).sum()

## 3) Statistiques avec Numpy

In [40]:
a= np.array([[1 ,2,3],[4,5,6]])
a

array([[1, 2, 3],
       [4, 5, 6]])

3.1) Minimum et maximum
* np.amin(a) ou np.min(a) ou aussi a.min() : renvoie la valeur minimum de l'array (sur toute l'array si à plusieurs dimensions).
* np.amin(a, 0) : la ligne des minima par colonne, donc renvoie array([1, 2, 3]).
* np.amin(a, 1) : la ligne des minima par ligne, donc renvoie array([1, 4]).
* np.amax : pareil pour le maximum.
* nanmin et nanmax : pareil en ignorant les valeurs non définies.

3.2) Valeurs statistiques de base : 

* a.mean() : renvoie la moyenne sur toute l'array.
* np.mean(a, 0) : la ligne des moyennes, c'est à dire array([ 2.5, 3.5, 4.5]).
* np.median(a, 0) : la ligne des médianes, c'est à dire aussi ici array([ 2.5, 3.5, 4.5]) (cas particulier).
* np.std(a, 0) : la ligne des déviations standard par colonne au sens mathématique, c'est à dire divisé par racine de n, ici array([ 1.5, 1.5, 1.5]).
* np.std(a, 0, ddof = 1) : la ligne des déviations standard par colonne au sens statistique, c'est à dire divisé par racine de n - 1 (ddof : degrés of freedom), ici array([ 2.12132034, 2.12132034, 2.12132034]).
* np.var(a, 0) : la lignes des variances par colonne, donc ici : array([ 1.5, 1.5, 1.5]).
* np.percentile(a, 10) : valeur du premier décile.